.navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    margin: 0 20px;
}

.navbar {
    background-color: var(--primary) !important;
    text-transform: uppercase;
    
}

.navbar-light .navbar-nav .navbar-link {
    font-family: "Archivo Narrow", sans-serif;
    color: var(--text2);
    font-size: 18px;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: var(--border-colour);
    margin: 0 20px;
}

.navbar-collapse {
    z-index: 1;
}

.navbar-light .navbar-toggler {
    border: none;
}
